* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}




#main-header {
    background-color: rgb(0, 255, 255);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding: 0.5 rem 1rem;
  
  

}


#footer {
    position:sticky bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 50px;
 

} 

/* 
/* cardsssssss
 /* */
/* 



card {
    display:grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1;
    border: solid black 2px;
    border-radius:2%;
    background-image: linear-gradient(grey, white)
  
   
    ;
   
    
}

#tituloUsuario {
   
    border-bottom-width: 50%
   
   ;
} */

 */

/* 
contador  */



.container {display: inline-flex;
    justify-content:center;
    align-items: center;
    margin-inline-start: 15%;
   
    ;
}

#divContador {
    display:flexbox;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 42%;
    max-width: 250px;
    background-color: coral;
    border-radius: 6px;
    border: solid black solid 2px;
}


#containerContador {
    border-bottom: solid black 2px }

/* 

#precioUser {
    border: solid black 2px;
}


#descUser {
 
    border: solid black 2px;
    visibility: hidden;
}    */















/* cards estilos overflow  */




.page-wrapper {
    padding-top: 5%;
display: flex;
justify-content: space-around;
}

.card-wrapper {
    background-color: coral;
    border-radius: 6px;
    max-height: 110px;
    overflow: hidden;
    padding: 2rem;
    width: 30%;
    transition: max-height 500ms ease-in-out; }


.card-wrapper:hover { 
 box-shadow: 0 0 8px #d3d3d3;
 cursor: pointer;
 max-height: 300px;
}
/* 
.card-details, .revela-details {

    font-weight: 300;
    
    
} */


#descripcion {
    display: inline-flex;
    max-width: 220px;
    
    ;
 
}

#imgUser {
    

margin-right: -500px;
margin-bottom: -170px;  }






card-height-animate {
    height: 300px;
}

.card-title {
    text-align:center;
    
}
#usuarioPrice {
    font-size: x-large;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -20px;

}



#userCnt {
    margin-bottom: 200px;
}




