* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}




#main-header {
    background-color: aqua;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding: 0.5 rem 1rem;
  
  

}


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 50px;
 

} 

/* 
/* cardsssssss
 */


.container {display: inline-flex;
    justify-content:space-around;
    margin-inline-start: 15%;
   
    ;
}

card {
    display:grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1;
    border: solid black 2px;
    border-radius:2%;
    background-image: linear-gradient(grey, white)
  
   
    ;
   
    
}

#tituloUsuario {
   
    border-bottom-width: 50%
   
   ;
}



/* 
contador  */

#divContador {
    display:flexbox;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 45%;
    background-image: linear-gradient(white, grey);
    border-radius: 4%;
    border: solid black 2px;
}



