* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




#main-header {
    background-color: aqua;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding: 0.5 rem 1rem;
  
  

}


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 50px;
 

}


